In [1]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("E:\数据\data\IMDB Dataset.csv")

In [3]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
data["sentiment_lable"] = (data["sentiment"] == "positive").astype(int)

In [5]:
data.head()

,review,sentiment,sentiment_lable
0,One of the other reviewers has mentioned that ...,positive,1
1,A wonderful little production. <br /><br />The...,positive,1
2,I thought this was a wonderful way to spend ti...,positive,1
3,Basically there's a family where a little boy ...,negative,0
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,1

In [7]:
data['sentiment'].value_counts()

positive    25000
negative    25000
Name: sentiment, dtype: int64

In [8]:
positive = (data["sentiment"]=="positive")

In [9]:
positive

0         True
1         True
2         True
3        False
4         True
         ...
49995     True
49996    False
49997    False
49998    False
49999    False
Name: sentiment, Length: 50000, dtype: bool

# 导入部分数据

In [10]:
import math
import_part_of_data = math.ceil(len(data)*0.7)

In [11]:
import_part_of_data

35000

In [12]:
df = data.sample(import_part_of_data)

In [13]:
df.describe()

       sentiment_lable
count     35000.000000
mean          0.499657
std           0.500007
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000

In [14]:
"""导入指定标签的数据"""

df1 = data[data["sentiment"] == "positive"]

In [15]:
df1

,review,sentiment,sentiment_lable
0,One of the other reviewers has mentioned that ...,positive,1
1,A wonderful little production. <br /><br />The...,positive,1
2,I thought this was a wonderful way to spend ti...,positive,1
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,1
5,"Probably my all-time favorite movie, a story o...",positive,1
...,...,...,...
49983,"I loved it, having been a fan of the original ...",positive,1
49985,Imaginary Heroes is clearly the best film of t...,positive,1
49989,I got this one a few weeks ago and love it! It...,positive,1
49992,John Garfield plays a Marine who is blinded by...,positive,1
49995,I thought this movie did a down right good job...,positive,1

In [ ]:
import