In [1]:
import pandas  as pd

In [2]:
s = pd.Series(['a','b','c'])

In [5]:
s

0    a
1    b
2    c
dtype: object

In [6]:
s.astype("string")

0    a
1    b
2    c
dtype: string

In [8]:
type(s[0])

str

In [1]:
import pandas as pd
import numpy as np

In [6]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
def dnorm(mean,variance,size=1):
    if isinstance(size,int):
        size=size
        
    return mean + np.sqrt(variance)*np.random.randn(size)
np.random.seed(12345)
n = 100
x = np.c_[
    dnorm(0,0.4,size=n),
    dnorm(0,0.6,size=n),
    dnorm(0,0.2,size=n)
]

In [7]:
x

array([[-1.29468492e-01, -1.21275292e+00,  5.04224878e-01],
       [ 3.02910364e-01, -4.35741756e-01, -2.54179861e-01],
       [-3.28521889e-01, -2.53015334e-02,  1.38350968e-01],
       [-3.51474705e-01, -7.19605110e-01, -2.58214633e-01],
       [ 1.24326880e+00, -3.73799164e-01, -5.22629046e-01],
       [ 8.81267227e-01, -2.80898544e-02, -3.68960148e-01],
       [ 5.87601006e-02,  8.48485492e-01, -1.18261588e+00],
       [ 1.78191913e-01,  7.59823931e-01, -6.84173312e-02],
       [ 4.86372577e-01, -4.56615198e-01, -3.36269295e-01],
       [ 7.88314544e-01,  1.22517962e+00, -5.93046604e-02],
       [ 6.37002481e-01, -4.09556235e-01,  6.51724241e-01],
       [-8.19802211e-01,  3.53992127e-01,  2.72581984e-01],
       [ 1.73919980e-01,  7.20350703e-01, -2.20824797e-01],
       [ 1.44777217e-01, -1.21555178e+00,  5.54535862e-01],
       [ 8.55659737e-01, -7.92015008e-01, -6.06967863e-02],
       [ 5.60627140e-01, -3.12028394e-01,  6.39534138e-01],
       [-1.26594659e+00,  1.70788390e-01, -3.78723930e-01],
       [-2.35173870e-01, -1.49807854e-01,  2.69795970e-01],
       [ 1.05558429e+00,  5.18327819e-01,  5.65086692e-01],
       [-2.77375856e-01, -1.27729815e+00, -1.14258850e-01],
       [-3.41362463e-01, -1.74500924e+00, -1.99317903e-01],
       [ 3.01671809e-01, -9.03824348e-01,  2.09459948e-01],
       [ 2.05481256e+00,  2.73902883e-01, -4.30042348e-01],
       [-6.45880997e-01,  5.43852200e-01, -8.15943234e-01],
       [-3.64982057e-01, -2.12680391e-01,  2.79699975e-01],
       [ 7.85011874e-02, -1.07779075e-01,  4.57442437e-01],
       [ 1.91389621e-01,  8.33909252e-02,  4.95255337e-01],
       [ 3.31262542e-01, -4.69827834e-01,  4.06683027e-02],
       [ 5.94683881e-04, -3.23056701e-01, -1.56573351e-01],
       [ 8.49899938e-01, -1.31735941e-02,  9.74733410e-02],
       [-4.51284841e-01, -9.48218860e-01, -4.00172597e-01],
       [-5.25667654e-01, -1.39492460e+00, -7.78819773e-01],
       [-1.49906612e+00,  1.26626122e+00, -4.70583073e-01],
       [-1.17684845e+00,  7.66082537e-01,  6.42468297e-01],
       [-5.44390778e-01,  3.54718910e-01, -2.57687777e-01],
       [ 3.54266989e-01,  4.30020757e-01, -1.08238857e+00],
       [-8.00647272e-01,  1.01218075e+00, -4.75088253e-01],
       [ 7.57853279e-02, -3.41251328e-01,  1.06156103e-01],
       [-6.72624331e-01, -2.33424923e-01,  4.28148461e-04],
       [ 2.10533515e-01,  3.86362227e-01,  2.91821096e-02],
       [-1.49222748e+00, -6.38260715e-01, -6.11575372e-01],
       [-1.26202046e-01,  1.02290590e+00, -1.35416509e-02],
       [-9.75243602e-01,  3.93467831e-01,  4.20599611e-01],
       [-6.13947298e-01, -5.06150647e-01, -2.87306449e-01],
       [-8.26638513e-01,  1.44833709e-01,  4.65182301e-01],
       [ 1.81103482e-01, -3.03429073e-01, -4.84297556e-01],
       [ 2.39058142e-01, -2.10917232e-01,  1.91950152e-01],
       [-4.76799709e-01, -1.32776989e-02, -1.05642436e-01],
       [ 2.09523442e-01,  5.26974186e-01,  2.87029653e-01],
       [ 8.53651930e-01,  4.92265755e-01, -1.48323110e-01],
       [ 4.41938984e-02, -5.86506397e-01,  6.23448053e-01],
       [ 1.56010405e-01,  5.56226896e-01, -4.81533636e-01],
       [-7.50193522e-03, -2.35688911e-01, -8.60734038e-02],
       [ 6.35498649e-01, -1.29961074e+00, -3.89606962e-01],
       [ 8.39391576e-01,  3.30741999e-01,  1.88210735e-01],
       [-5.81392058e-01, -1.21126768e+00, -5.41759499e-01],
       [-9.79740937e-01, -2.84654610e-01, -1.15768803e-01],
       [ 1.40307721e-02,  8.10160365e-01, -2.60120379e-01],
       [ 4.79630966e-01,  9.44972588e-01, -5.63677241e-01],
       [-4.17752265e-01, -1.91866910e-01,  2.07764164e-01],
       [ 5.45543545e-01, -3.22412023e-01, -4.78626284e-01],
       [-6.34473197e-03, -9.04318406e-02,  3.59659324e-01],
       [ 3.16286938e-02, -1.42896634e+00, -7.00942499e-02],
       [ 4.23881560e-01,  1.60241421e+00,  8.99073745e-01],
       [ 5.39462453e-01, -6.01836417e-01, -3.96725162e-01],
       [-6.04544544e-01,  1.11554846e+00, -4.37346379e-01],
       [-1.48584806e-02, -8.56373625e-02, -1.19503232e-01],
       [-1.45732546e+00,  9.50729878e-01,  2.16155245e-01],
       [-4.12657528e-01,  1.48783309e+00, -1.79034241e-01],
       [-7.70521825e-01,  5.78184545e-01,  2.01192638e-01],
       [-8.42816382e-01,  1.72321391e+00,  1.78703849e-01],
       [ 6.79651065e-01, -5.26261295e-01, -6.77863130e-02],
       [ 4.57671073e-01,  5.63417436e-01, -1.14394289e+00],
       [ 4.36395489e-01, -6.72915933e-01,  7.19150055e-02],
       [ 6.33431691e-01, -9.40244868e-01,  3.42230507e-02],
       [-3.18180404e-01, -3.64549152e-01, -1.32913744e-01],
       [-3.93560776e-01, -7.12041557e-01, -5.78816940e-01],
       [-5.82598182e-01, -6.49752359e-01, -3.95864536e-01],
       [-4.59297741e-01,  3.37069850e-01, -8.38509956e-02],
       [ 1.40971521e-01, -4.32073676e-01, -2.20726742e-01],
       [ 3.24551519e-02, -4.39548653e-01, -5.16142466e-02],
       [-7.32206081e-01, -2.88646906e-01, -1.56857757e-01],
       [ 5.16530820e-01, -7.17707890e-01,  1.99892744e-02],
       [ 2.74238794e-01,  1.35950111e+00, -4.01488830e-01],
       [ 6.39246173e-01,  9.37114786e-01,  3.98410742e-01],
       [ 1.15415242e+00,  9.83756927e-01, -5.14825657e-01],
       [-6.30885934e-01, -7.54750051e-01, -1.16825729e+00],
       [ 5.37961046e-01, -4.91643675e-01,  5.10382601e-01],
       [-8.32169818e-02, -3.06508485e-01, -3.87794796e-01],
       [ 5.77061378e-01, -2.24196084e-01,  1.71543648e-01],
       [ 1.19034886e-01, -5.68784066e-01, -1.95445831e-01],
       [ 1.37208789e+00, -5.64297298e-01,  1.55401720e-01],
       [-7.26869788e-02,  6.49712378e-01, -5.50152791e-01],
       [ 1.26724948e+00,  2.06734594e-01,  2.55393908e-01],
       [ 1.87271046e-02,  5.58634733e-01,  2.68601909e-02],
       [ 5.02962258e-01,  7.05644120e-01, -1.00857396e-01],
       [ 7.46991671e-02, -7.90787764e-01,  6.03615880e-01],
       [-4.73412919e-01, -1.09482736e+00,  6.03872399e-01],
       [ 3.69967347e-01,  1.00434812e+00, -1.72916622e-01],
       [ 9.65611431e-02,  1.95411537e-01,  3.87282297e-01]])

In [10]:
df = pd.DataFrame(x,columns=['a','b','c'])

In [11]:
df

           a         b         c
0  -0.129468 -1.212753  0.504225
1   0.302910 -0.435742 -0.254180
2  -0.328522 -0.025302  0.138351
3  -0.351475 -0.719605 -0.258215
4   1.243269 -0.373799 -0.522629
..       ...       ...       ...
95  0.502962  0.705644 -0.100857
96  0.074699 -0.790788  0.603616
97 -0.473413 -1.094827  0.603872
98  0.369967  1.004348 -0.172917
99  0.096561  0.195412  0.387282

[100 rows x 3 columns]

In [13]:
df.describe()

                a           b           c
count  100.000000  100.000000  100.000000
mean     0.021260   -0.027562   -0.075545
std      0.657943    0.752054    0.427408
min     -1.499066   -1.745009   -1.182616
25%     -0.453288   -0.535770   -0.388248
50%      0.066730   -0.170837   -0.084962
75%      0.481316    0.546946    0.208188
max      2.054813    1.723214    0.899074

In [16]:
df.isnull().sum()

a    0
b    0
c    0
dtype: int64

In [17]:
df[80:] = np.nan

In [18]:
df

           a         b         c
0  -0.129468 -1.212753  0.504225
1   0.302910 -0.435742 -0.254180
2  -0.328522 -0.025302  0.138351
3  -0.351475 -0.719605 -0.258215
4   1.243269 -0.373799 -0.522629
..       ...       ...       ...
95       NaN       NaN       NaN
96       NaN       NaN       NaN
97       NaN       NaN       NaN
98       NaN       NaN       NaN
99       NaN       NaN       NaN

[100 rows x 3 columns]

In [22]:
df.c[20]=np.nan

In [25]:
df.head(21)

           a         b         c
0  -0.129468 -1.212753  0.504225
1   0.302910 -0.435742 -0.254180
2  -0.328522 -0.025302  0.138351
3  -0.351475 -0.719605 -0.258215
4   1.243269 -0.373799 -0.522629
5   0.881267 -0.028090 -0.368960
6   0.058760  0.848485 -1.182616
7   0.178192  0.759824 -0.068417
8   0.486373 -0.456615 -0.336269
9   0.788315  1.225180 -0.059305
10  0.637002 -0.409556  0.651724
11 -0.819802  0.353992  0.272582
12  0.173920  0.720351 -0.220825
13  0.144777 -1.215552  0.554536
14  0.855660 -0.792015 -0.060697
15  0.560627 -0.312028  0.639534
16 -1.265947  0.170788 -0.378724
17 -0.235174 -0.149808  0.269796
18  1.055584  0.518328  0.565087
19 -0.277376 -1.277298 -0.114259
20 -0.341362 -1.745009       NaN

In [30]:
df['c'].isna().sum()

21

In [31]:
df['b'].notna().sum()

80

In [32]:
statistics = df.describe()

In [37]:
statistics.mean()

a    10.142370
b    10.072564
c     9.847982
dtype: float64

In [41]:
df1 = df['a'].fillna(statistics.mean().a)

In [42]:
df1

0     -0.129468
1      0.302910
2     -0.328522
3     -0.351475
4      1.243269
        ...
95    10.142370
96    10.142370
97    10.142370
98    10.142370
99    10.142370
Name: a, Length: 100, dtype: float64

In [55]:
"""df2 = pd.concat([df1,df])"""

'df2 = pd.concat([df1,df])'

In [56]:
df2

           0   a   b   c
0  -0.129468 NaN NaN NaN
1   0.302910 NaN NaN NaN
2  -0.328522 NaN NaN NaN
3  -0.351475 NaN NaN NaN
4   1.243269 NaN NaN NaN
..       ...  ..  ..  ..
95       NaN NaN NaN NaN
96       NaN NaN NaN NaN
97       NaN NaN NaN NaN
98       NaN NaN NaN NaN
99       NaN NaN NaN NaN

[200 rows x 4 columns]

In [54]:
df

           a         b         c
0  -0.129468 -1.212753  0.504225
1   0.302910 -0.435742 -0.254180
2  -0.328522 -0.025302  0.138351
3  -0.351475 -0.719605 -0.258215
4   1.243269 -0.373799 -0.522629
..       ...       ...       ...
95       NaN       NaN       NaN
96       NaN       NaN       NaN
97       NaN       NaN       NaN
98       NaN       NaN       NaN
99       NaN       NaN       NaN

[100 rows x 3 columns]

In [57]:
"""merge
concat
combine_first"""

'merge\nconcat\ncombine_first'

In [68]:
df["c"].dropna()

0     0.504225
1    -0.254180
2     0.138351
3    -0.258215
4    -0.522629
        ...
75   -0.132914
76   -0.578817
77   -0.395865
78   -0.083851
79   -0.220727
Name: c, Length: 79, dtype: float64

In [69]:
trian = pd.read_csv("C:\Users\59972\Desktop\data\Titanic\train.csv")
test = pd.read_csv("C:\Users\59972\Desktop\data\Titanic\test.csv")
gender = pd.read_csv("C:\Users\59972\Desktop\data\Titanic\gender_submission.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_11560/3391837037.py, line 1)